.todo-app {
  min-width: 80rem;
}

.header {
  margin-bottom: 4rem;
}

.header-heading {
  text-transform: uppercase;
  text-align: center;
}

.cockpit-container {
  margin-bottom: 4rem;
}

.todo-list {
  width: 100%;
}
